parameters:
    aws_api_key:            APIKEY
    aws_api_secret:         APISECRET
    aws_iam_role:           IAMROLE
    aws_instance_role:      INSTANCEROLE
    aws_region:             us-east-1
    